@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Concert+One&family=Dosis:wght@500&family=DynaPuff&family=PT+Sans+Caption:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
}
body{
    /* font-family: 'Poppins'; */
    background: #b32e2b;
    font-family: 'Dosis', sans-serif;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #ebe0cd;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    /* font-family: 'Dosis', sans-serif; */
}


a{
    position: relative;
    /* color: rgb(85, 83, 83); */
    color: #476388;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background-color: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

/* input{
    display: none;
}

[id^=btn]:checked + {
    display: block;
} */

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    font-size: 12px;
    color: #476388;
    padding-left: 80px;
    font-family: 'Dosis', sans-serif;
}

/* #panah {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

nav ul ul li a:hover  {
    transform: translateY(-50%) rotate(-180deg);
} */

/* LIHAT */

.bigbox {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
}


table {
     z-index: 2;
     left: 0%;
     top: 0px;
     /* transform: translate(-50%,-50%); */
     /* width: 60%;  */
     border-collapse: collapse;
     border-spacing: 0;
     /* box-shadow: 0 2px 15px rgba(64,64,64,.7); */
     /* border-radius: 12px 12px 0 0; */
     overflow: hidden;
     width: 100%;
    }
    
td , th{
    padding: 15px 20px;
    text-align: center;        
}
       
th{
    background-color: #b32e2b;
    color: #ebe0cd;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;   
}
       
tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Dosis', sans-serif;
    color: #b32e2b;
}
       
tr:nth-child(even){
    background-color: #eeeeee;
}
    
.order {
    position: relative;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    top: 80px;
    left: 300px;
}
    
.ikon i{
    position: relative;
    float: right;
    right: -7px;
    top: 8px;
}

.head {
    font-size: 130%;
}

/* MAKANAN */

.kotakForm {
    /* position: relative; */
    /* left: 500px; */
    justify-content: center;
    margin-left: 450px;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    display: flex;
    max-width: 850px;
    background: #476388;
    border-radius: 5px;  
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); */
    /* background: whitesmoke; */
    padding-top: 30px;
    /* padding-left: 30px; */
}

input {
    position: relative;
    background-color: #b32e2b;
    width: 100%;
    margin: 2px;
    /* border: none; */
    /* outline: none; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    color: #476388
    /* margin-top: 10px; */
 }

.kotakForm label {
    position: relative;
    font-size: 15px;
    color: #ebe0cd;
    margin-top: 10px;
 }

 #button1 {
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-color: #b32e2b;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    color: #476388;
    font-family: 'Concert One', cursive;
 }
 .container {
	background-color: #ebe0cd;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    margin-left: 350px;
    margin-top: 80px;
}
.box {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.login {
	margin-left: 190px;
	width: 50%;
	z-index: 2;
}

form {
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
